<div class="">
	
<div class="page-header">
	<h2>Users
		<%= link_to "Add new User", new_backend_user_path, :class => "btn btn-primary pull-right" %>
	</h2>
</div>

<table class="table">
  <thead>
	  <tr>
	    <th>Username</th>
	    <th>Email</th>
	    <th></th>
	  </tr>
  </thead>
  <tbody>
  <% for user in @users %>
  <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Edit', edit_backend_user_path(user.id), :class => "btn" %>
		  <%= link_to ("<i class=\"icon-trash icon-white\"></i>").html_safe, backend_user_path(user), confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %></td>
  </tr>
  </tbody>
  <% end %>
</table>
</div>
