<%= form_for [:backend, @user_session] do |f| %>
  <% if @user_session.errors.any? %>
  	<div class="alert alert-error">
		<ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
	</div>
  <% end %>
<span class="span4 offset2">
<div id="login_mask" class="well">
<div class="">
  <legend>Login</legend>
  <div class="control-group">    
    <div class="controls"><%= f.text_field :username, :id => "input01", :class => "span3", :placeholder => "Username" %></div>
  </div>
  <div class="control-group">    
    <div class="controls"><%= f.password_field :password, :id => "input02", :class => "span3", :placeholder => "Password" %></div>
  </div>
  <div class="form">
    <%= f.submit "Login", :class => "btn btn-primary" %>
  </div>
  </div>
</div>
</span>
<% end %>
